//VAR
@font-face {
font-family: 'AlphaMacAOE';
src: url('../fonts/AlphaMacAOE.ttf');
}

@font-face {
font-family: 'Bebas Neue';
src: url('../fonts/BebasNeue.otf');
}

@font-face {
font-family: 'Odin Rounded';
src: url('../fonts/Odin Rounded - Bold.otf');
}

$white: white;
$black: black;
$dblue: #1940bc;
$lblue: #76c0e5;

#playlist, #addform {
  max-height: 100%;
  background: $white;
  overflow-y: auto;
}

#playlist {
  overflow-y: auto;
  table {
    text-align: center;
    thead {
      background: $dblue;
      color: $white;
      th {
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    tbody {
      td {
        font-size: 1.2em;
      }
      button {
        color: inherit;
      }
      tr:hover {
        color: $white;
        background: $lblue;
      }
    }
  }
}

#addform {
  padding: 10px;
  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px 5px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 25px 0px;
    button {
      padding: 15px 25px;
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    input {
      flex: 1;
      margin-left: 5px;
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    border: 2px solid $lblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: none;
    color: $black;
    transition: 0.4s;
  }
  input:hover {
    border: 2px solid $dblue;
  }
  fieldset {
    border: none;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }
  button {
    background: $lblue;
    color: $white;
    border-radius: 5px;
    margin: 5px;
    transition: 0.4s;
  }
  button:hover {
    background: $dblue;
  }
}

#result {
  iframe {
    max-width: 100%;
  }
}
