@font-face {
  font-family: 'AlphaMacAOE';
  src: url("fonts/AlphaMacAOE.ttf"); }
@font-face {
  font-family: 'Bebas Neue';
  src: url("fonts/BebasNeue.otf"); }
@font-face {
  font-family: 'Odin Rounded';
  src: url("fonts/Odin Rounded - Bold.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  transition: 0.2s; }

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Odin Rounded'; }

body {
  display: flex;
  border: 10px solid black;
  border-top: 40px solid black; }

#main {
  width: 100%;
  height: 100%;
  border: 20px solid #1940bc; }

.full-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  border: 20px solid #76c0e5; }

.quart-col {
  height: 100%;
  max-height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.half-col {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(gal/background.svg) no-repeat center center;
  background-size: 100%; }

.row {
  height: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center; }

img {
  height: 33%;
  padding: 15px; }

#control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 3em; }

#info {
  width: 100%;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase; }
  #info h1 {
    font-size: 2.2em; }
  #info button {
    padding: 0px 8px;
    font-size: 1.6em; }
  #info button:hover {
    color: #1940bc; }

button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em; }

button:hover {
  color: white; }

#logo {
  width: 100%; }

@media all and (orientation: portrait) {
  .full-container {
    flex-direction: column; }

  .quart-col, .half-col {
    width: 100%; }

  .quart-col {
    flex-direction: row;
    height: 15%; }

  .half-col {
    flex-direction: column-reverse;
    height: 70%; }

  img {
    width: 33%;
    height: auto;
    max-height: 100%;
    padding: 10px; }

  #info h1, #info button {
    font-size: 1em; }

  #info {
    flex-wrap: wrap;
    align-items: flex-end; }

  #control {
    font-size: 1.5em; } }
#history {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid black;
  background: white;
  padding: 10px;
  transform: translate(-50%, -50%);
  text-align: center; }
  #history h1 {
    background: #1940bc;
    color: white;
    padding: 5px; }
  #history a {
    font-size: 2em; }
  #history i {
    padding-top: 20px;
    cursor: pointer; }
  #history table {
    width: 100%;
    max-width: 100%;
    text-align: justify;
    border-collapse: collapse; }
    #history table td {
      border-bottom: 2px solid black;
      padding: 10px; }
    #history table tr:hover {
      background: #76c0e5;
      color: white; }
    #history table i {
      cursor: pointer; }
    #history table i:hover {
      color: #1940bc; }

.fa-pause {
  transform: translateX(-15%);
  transition: 0s; }

.share {
  position: absolute;
  opacity: 0;
  z-index: -1; }

/*# sourceMappingURL=player.css.map */
